[alias]
    hist = log --graph --pretty=format:'%C(bold red)[%C(auto)%h%C(bold red)]%C(reset) \"%s\"%C(auto)%d%C(reset)\n  %C(yellow)└%C(reset) %C(green)(%cr)%C(reset) by %C(bold blue)<%an>%C(reset)\n' --abbrev-commit --date-order

[user]
	email = 48904232+Hidan0@users.noreply.github.com 
	name = Hidan0
[init]
	defaultBranch = main
