* {
  font-family: "JetBrainsMono NF";
  font-size: 13px;
  color: #d4be98;
}

window#waybar {
  background-color: #141617;
}

/* WORKSPACE */
#workspaces button.active {
  box-shadow: inset 0 -3px #3c3836;
}

#workspaces button.urgent {
  background-color: #ea6962;
}

/* MEMORY (RAM) */
#memory {
  background-color: #282828;
  padding: 0 10px;
  color: #eba0ac;
  border-radius: 20px;
  margin: 8px 0;
}

/* CPU */
#cpu {
  background-color: #282828;
  padding: 0 10px;
  color: #b4befe;
  border-radius: 20px;
  margin: 8px 0;
  font-family: "JetBrains";
}

/* TEMPERATURE */
#temperature {
  background-color: #282828;
  padding: 0 10px;
  color: #fab387;
  border-radius: 20px;
  margin: 8px 0;
}

#temperature.critical {
  color: #ea6962;
}

/* BRIGHTNESS */
#backlight {
  background-color: #282828;
  padding: 0 10px;
  color: #d8a657;
  border-radius: 20px;
  margin: 8px 0;
}

/* PULSEAUDIO */
#pulseaudio {
  background-color: #282828;
  padding: 0 10px;
  color: #89b482;
  border-radius: 20px;
  margin: 8px 0;
}

#pulseaudio.muted {
  color: #504945;
}

/* BATTERY */
#battery {
  background-color: #282828;
  padding: 0 10px;
  color: #a9b665;
  border-radius: 20px;
  margin: 8px 0;
}

/* TRAY */
#tray {
  background-color: #282828;
  padding: 0 10px;
  border-radius: 20px;
  margin: 8px 0;
}

/* TIME AND DATE */
#clock {
  background-color: #282828;
  padding: 0 10px;
  color: #d3869b;
  border-radius: 20px;
  margin: 8px 0;
}

/* BLUETOOTH */
#bluetooth {
  background-color: #282828;
  color: #7daea3;
  padding: 0 10px;
  border-radius: 20px;
  margin: 8px 0;
}

#bluetooth.disabled {
  color: #6c7086;
}
